@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner-card{
  margin-top: -170px;
  background: hsla(0, 0%, 100%, 0.7);
  backdrop-filter: blur(30px);

}
.banner {
  background-image: url("./static/hero\ img.webp");
  background-size: cover;
  background-position: 50%;
  height: 500px;
}
.show{
  opacity: 1;
}

.show.active{
  opacity:0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
